<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <style>
        * {
            margin:0;
            padding:0;
            box-sizing: border-box;
        }

        h1 {
            text-align: center;
            margin: 200px 0px 50px;
        }

        #boxContainer {
            display: flex;
            justify-content: center;
            gap: 50px;
            flex-wrap: wrap;
        }

        .boxes {
            height: 200px;
            width: 200px;
            outline: 2px solid black;
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    <div id="boxContainer">
        {% for i in range(0, num) %}
        <div class="boxes" style="background-color: {{color}};"></div>
        {% endfor %}
    </div>
</body>
</html>